
.main-region {
  .su-link,
  .su-link--action,
  .su-link--external {
    color: $su-color-digital-red;
    font-weight: 600;

    &:hover,
    &:focus,
    &:active {
      color: $su-color-black;
    }

    &::after {
      background-color: $su-color-digital-red;
    }

    &.mailto {
      svg {
        fill: $su-color-digital-red;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    a[href] {
      color: $su-color-digital-red;
    }
  }
}

.su-local-footer__action-links {
  a {
    color: $su-color-bright-blue;

    &::after {
      background-color:  $su-color-bright-blue;
    }
  }
}
