
.main-region {
  .su-button {
    color: purple;
  }


  h2,
  h3,
  h4,
  h5,
  h6 {
    a[href] {
      color: $su-color-digital-red;
    }
  }
}

.su-local-footer__action-links {
  a {
    color: $su-color-bright-blue;

    &::after {
      background-color:  $su-color-bright-blue;
    }
  }
}
