@charset "UTF-8";

a,
.su-link,
.su-local-footer__action-links a,
.su-link--action {
  color: $su-color-digital-red;

  &:after {
    background-color: $su-color-digital-red;
  }

  &.mailto {
    svg {
      fill: $su-color-digital-red;
    }
  }
}

.su-link--external {
  color: $su-color-digital-red;

  &:after {
    background-color: $su-color-digital-red;
  }
}

.main-region {
  .su-button,
  .su-button--big {
    color: $su-color-white;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $su-color-white;
      text-decoration: underline;
    }

    &::after {
      background-color: $su-color-white;
    }

    &.mailto {
      svg {
        fill: $su-color-white;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    a[href] {
      color: $su-color-digital-red;
    }
  }
}

