{% extends "@basic/block/block--system-branding-block.html.twig" %}

{% block cell1 %}
  {% if line4 is not empty %}
    <div class="su-lockup__wordmark-wrapper">
      <span class="su-lockup__line4" {{ region_attributes.line4 }}>{{ line4 }}</span>
    </div>
  {% endif %}
{% endblock %}